
<%= simple_form_for(@employee, html: {class: "form-horizontal"}) do |f| %>

  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :user_id %>

  <div class="field">
    <%= f.input :firstname %>
  </div>
  <div class="field">
    
    <%= f.input :lastname %>
  </div>
  <div class="field">
    <%= f.input :vacation %>
  </div>
  <div class="field">
    <%= f.inputzz :startdate %>
  </div>
  <div class="field">
    <%= f.input :manager %>
  </div>
  <div class="field">
    <%= f.input :salary %>
  </div>
  <div class="field">
    <%= f.input :sickdays %>
  </div>
  <div class="field">
    <%= f.input :documents %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>

  </div>
<% end %>
